@model SubCategoryUpdateDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form class="w-75 mx-auto p-3 mt-2" method="post">

    <input type="hidden" asp-for="Id" />

    <input type="hidden" asp-for="CategoryId" />

    <div class="form-group">
        <label asp-for="Name">Alt Kategori</label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" type="text" class="form-control" />
    </div>

    <a asp-action="Index" asp-controller="Category" class="btn btn-sm btn-warning">Geri</a>

    <input type="submit" class="btn btn-sm btn-info" value="Güncelle" />

</form>





